# Infrastructure changes
*.tf @CraigDevJohnson

# Server installation scripts
modules/compute/scripts/ @CraigDevJohnson

# Security configurations
modules/security/ @CraigDevJohnson
SECURITY.md @CraigDevJohnson

# Documentation
*.md @CraigDevJohnson

# GitHub Actions
.github/workflows/ @CraigDevJohnson